/** Texto **/
.tituloanuncio{
    font-size: 30px;
    color: #888888;
    margin-right: 40px;
}


.grid1{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 20px;
    max-width: 800px;
    padding:70px;
    margin:10px auto;
    color: #888888;
    flex-wrap: wrap;
   
    
}

.formulario1{
    width: 100px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    color: #888888;
    max-width: 100%;
    width: auto;
   
}


 
/** Buttons**/

.input{
    width: 350px ;
    height:27px;
    margin-bottom: 30px;
    border-radius: 2px;
    border: solid 1px;
    color: #888888;


}

.cpf{
    width: 350px ;
    height: 27px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid 1px;
    color: #888888;
}

.enviar{ 
    width: 360px;
    border: solid 1px;;
    color: #888888;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

.enviar:hover{
    opacity: 100;
    color: rgb(78, 78, 78);
}

.genero{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    margin-top: 20px;
}

.lista::marker{
    content: "";
}

.linha{
    color: #888888;
    margin-left: 10%;
    margin-right: 10%;
}

.titlelines {     
    overflow: hidden;     
    text-align: center;     
    color: var(--secundary-color);     
    font-size: 1.2rem;     
    font-weight: 600;     
    margin: 0 0 1rem 0;   
}  

.titlelines > span{    
    position: relative;    
    display: inline-block;   
}   
    
.titlelines > span:before, .title-lines > span:after{    
    content: '';    
    position: absolute;    
    top: 50%;    
    border-bottom: .15rem solid;    
    width: 100vw;   
    margin: 0 20px;   
}  

.titlelines > span:after{    
    content: '';    
    position: absolute;    
    top: 50%;    
    border-bottom: .15rem solid;    
    width: 100vw;   
    margin: 0 20px;   
} 

.titlelines > span:before{    
    right: 100%;   
}  

.titlelines > span:after{    
    left: 100%;   
}













 

