
.card {
    border-style: ridge;
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

.aindamais{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.aindamais button{
    text-align: center;
    width: 300px;
    background-color: white;
    padding: 15px 40px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
    color: rgb(77, 77, 77);
    border: 1px solid #707070;

}
.aindamais button:hover {
    opacity: 1
}

