.linha{
    color: #888888;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}

.titlelines {     
    overflow: hidden;     
    text-align: center;     
    color: var(--secundary-color);     
    font-size: 1.2rem;     
    font-weight: 600;     
    margin: 0 0 1rem 0;   
}  

.titlelines > span{    
    position: relative;    
    display: inline-block;   
}   
    
.titlelines > span:before, .title-lines > span:after{    
    content: '';    
    position: absolute;    
    top: 50%;    
    border-bottom: .15rem solid;    
    width: 100vw;   
    margin: 0 20px;   
}  

.titlelines > span:after{    
    content: '';    
    position: absolute;    
    top: 50%;    
    border-bottom: .15rem solid;    
    width: 100vw;   
    margin: 0 20px;   
} 

.titlelines > span:before{    
    right: 100%;   
}  

.titlelines > span:after{    
    left: 100%;   
}

.novidades .novidades{
    align-content: center;
    display: flex;
    margin-left: 25%;
    color: #888888;
    padding-bottom: 1px;

}

.flex3{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #888888;
    flex-wrap: wrap;

}
.flex3 > div{
    text-align: center;
    padding:40px;
    padding-top: 10px;
    color: #888888;
    margin-top: 20px;
    padding-bottom: 40px;
}

.flex3 .nome .rname{
    width: 400px;
    height: 25px;
}

.flex3 .email .rname{
    width: 400px;
    height: 25px; 
}

.flex3 .nome .amigo{
    text-align: left;

}

.flex3 .email .p_email{
    text-align: left;

}

.btn_enviar .enviar_para{
    width: 250px;
    height: 40px;
    margin-left: 40%;

}

.btn_enviar .enviar_para{
    background-color: white;
    border: 1px solid;
    color: #888888;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40%;
    border-radius: 6px;
    color: rgb(77, 77, 77);
    border: 1px solid #707070;
    
}

.btn_enviar .enviar_para:hover{
    opacity: 1;
}

.f_footer {     
    width: 100%;     
    height: 100px;     
    background: #707070 0% 0% no-repeat padding-box;     
    border: 1px solid #707070;     
    opacity: 1;     
    position: relative;
    margin-top: 150px;
}   

.f_footer:after{     
    content: '';     
    position: absolute;     
    bottom: 0;     
    right: 0;     
    left: 0;     
    width: 100%;     
    height: 120%;     
    background: #707070;     
    -webkit-transform: skewY(-2deg);    
    transform: skewY(-2deg);     
    -webkit-transform-origin: bottom left;    
    transform-origin: bottom left;     
    z-index: -9;
}

